html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

.text_yellow {
  color: #ffda07;
}
.text_orange {
  color: #ff7a01;
}
.text_gray {
  color: #a0a0a0;
}
.text_blue {
  color: #04b2ae;
}
.text_dark_blue {
  color: #005f98;
}

.btn_blue {
  width: 132px;
  height: 60px;
  color: white;
  border: none;
  border-radius: 4px;
  background: #04b2ae;
  margin-bottom: 20px;
}
.nav_bar {
  height: 70px;
  color: #6b6b6b;
}

.list_style_none {
  list-style: none;
}

.get_a_quote_btn {
  color: #ff7a01;
  background: #fffbf8;
  border: 1px solid #ff7a01;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
.hero_section_parent {
  min-height: 1100px;
}
.hero_section {
  position: absolute;
  min-height: 944px;
  background: linear-gradient(180deg, #04b2ae 0%, #038582 100%);
}
.bottom_layer {
  height: 400px;
  max-height: 350px;
  margin-bottom: -30px;
}

.hero_bottom {
  height: 350px;
  margin-bottom: -80px;
}
.our_process {
  min-height: 676px;
  margin-top: -80px;
  padding-top: 40px;
  background: linear-gradient(
    180deg,
    #fffaf5 0%,
    rgba(255, 250, 245, 0) 79.81%
  );
}
.our_process .container {
  margin-top: 70px;
}

.cards_detail {
  min-height: 350px;
  width: 100%;
  background: #f6f6f6;
  padding: 20px 0px;
}
.cards_detail .container {
  min-height: 220px;
}
.cards_detail .container .row {
  min-height: 220px;
}

.service_we_offer {
  min-height: 300px;
}

.development {
  min-height: 350px;
  border-width: 2px 0px;
  border-style: solid;
  border-color: #e3f9f7;
  border-radius: 0px;
  position: relative;
}

.development .rectangle {
  background: #e3f9f7;
  border-radius: 175px 0px 0px 175px;
  height: 350px;
  position: absolute;
  width: 52%;
  right: 0;
  z-index: -1;
}
.development .container .row {
  height: 350px;
}

.products {
  height: 500px;
  background: linear-gradient(
    180deg,
    #f0f9ff 0%,
    rgba(240, 249, 255, 0) 127.68%
  );
}

.cards_detail .process_cards :nth-child(3) {
  display: none;
  margin-bottom: 0;
}

.blue_icon {
  width: 28px;
  height: 27px;
  background: #cbe8fa;
  border-width: 0px 2px 2px 0px;
  border-style: solid;
  border-color: #005f98;
  border-radius: 4px;
  z-index: -1;
  margin-left: -13px;
}

.cards {
  min-height: 918.97px;
  margin-top: 200px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.cards .ipad {
  margin-top: -120px;
}
.cards .mobile {
  margin-top: -100px;
}

.card_btns {
  width: 120px;
  height: 40px;
  background: #eeeeee;
  font-weight: 700;
  border-radius: 4px;
}
.btn_outline_gray {
  border: 1px solid #000000;
  color: black;
}

.btn_outline_green {
  border: 1px solid #04b288;
  color: #04b288;
}

.btn_outline_purple {
  border: 1px solid #5e18f1;
  color: #5e18f1;
}
.btn_outline_blue {
  border: 1px solid #005bff;
  color: #005bff;
}

.card1 {
  background: linear-gradient(180deg, #005f98 0%, rgba(0, 95, 152, 0) 97.22%);
}
.card2 {
  background: linear-gradient(180deg, #04b288 0%, rgba(4, 178, 136, 0) 97.22%);
}
.card3 {
  background: linear-gradient(180deg, #5e18f1 0%, rgba(25, 60, 242, 0) 97.22%);
}
.card4 {
  background: linear-gradient(180deg, #005bff 0%, rgba(0, 91, 255, 0) 97.22%);
}

footer {
  min-height: 600px;
  background: linear-gradient(180deg, #04b2ae 0%, #038582 100%);
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {
  .mobile_nav {
    position: absolute;
    z-index: 99;
    width: 100%;
    left: 0;
    top: 71px;
    text-align: center;
    background-color: white;
  }
  .mobile_nav ul li {
    padding: 10px 0px;
  }
  .open_menu {
    display: block;
  }
  .close_menu {
    display: none;
  }

  .service_we_offer_mobile {
    width: 100%;
    min-height: 280px;

    background: #faf0b3;
    border-width: 2px 0px;
    border-style: solid;
    border-color: #04b2ae;
    border-radius: 8px;
    padding: 10px;
  }
  .cards .ipad {
    margin-top: 0px;
    width: 100%;
    height: 400px;
  }
  .cards_detail {
    background-color: white;
  }
  .cards_detail .process_cards {
    background: #04b2ae !important;
    border-width: 1.29818px 1.29818px 0px 1.29818px;
    border-style: solid;
    border-color: #006664;
    border-radius: 3.89453px;
  }
  .cards_detail .process_cards :first-child {
    color: #ffda07 !important;
  }
  .cards_detail .process_cards :nth-child(2) {
    color: white !important;
  }
  .cards_detail .process_cards :nth-child(3) {
    display: block;
    max-width: 170px;
    margin: auto;
    margin-bottom: -100px;
  }
  .cards_row :nth-child(3) {
    margin-top: 100px !important;
  }
  .cards_row :nth-child(4) {
    margin-top: 100px !important;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
  .hero_img {
    position: static !important;
    height: 400px !important;
  }
  .hero_section_parent {
    min-height: 1100px;
  }
  .hero_section_parent p,
  h2 {
    text-align: center;
  }
  .hero_section {
    min-height: 1100px;
  }
  .hero_bottom {
    margin-bottom: 140px;
  }
  .bottom_layer {
    margin-bottom: 0px;
    width: 90% !important;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .cards .mobile {
    margin-top: 0px;
  }

  .cards .health {
    height: 200px;
  }

  .cards .health {
    width: 100% !important;
  }
}
